<div th:fragment="footer" class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>nohit
                        <span>
                            Electronics
                        </span>
                    </h2>
                    <p>
                        Công ty TNHH nohitElectronics được thành lập vào năm 2022, chuyên kinh doanh, phân phối Sỉ & Lẻ
                        ngành hàng máy tính, dịch vụ công nghệ thông tin, dịch vụ tư vấn giải pháp công nghệ tối ưu và
                        các dịch vụ khác liên quan đến máy tính trên toàn quốc.
                    </p>
                    <div class="footer-social">
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.youtube.com" target="_blank">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <a href="https://www.linkedin.com" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">
                        Điều hướng
                    </h2>
                    <ul>
                        <li>
                            <a th:href="@{/profile}">
                                Tài khoản cá nhân
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/history}">
                                Lịch sử đặt hàng
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/about}">
                                Giới thiệu về trang
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/contact}">
                                Liên hệ nhà cung cấp
                            </a>
                        </li>
                        <li>
                            <a href="#header">
                                Về đầu trang
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">
                        Phân loại
                    </h2>
                    <ul>
                        <li>
                            <a th:href="@{/category/filter(filter='Máy tính xách tay')}">
                                Máy tính xách tay
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/category/filter(filter='Máy tính để bàn')}">
                                Máy tính để bàn
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/category/filter(filter='Máy tính bảng')}">
                                Máy tính bảng
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/category/filter(filter='Điện thoại di động')}">
                                Điện thoại di động
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/category/filter(filter='Thiết bị ngoại vi')}">
                                Thiết bị ngoại vi
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">
                        Bảng tin
                    </h2>
                    <p>
                        Đăng ký nhận bản tin của chúng tôi và nhận các ưu đãi độc quyền mà bạn sẽ không tìm thấy ở
                        bất kỳ nơi nào khác ngay trong hộp thư đến của bạn!
                    </p>
                    <div class="newsletter-form">
                        <form th:action="@{/subcribe}" method="post">
                            <input type="email" placeholder="Nhập thư điện tử" name="email" required>
                            <input type="submit" value="Đăng ký" class="btn-sub pull-right">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>