<div th:fragment="header" id="header" class="header-area">
    <div class="container">
        <div class="row">
            <div class="user-menu">
                <ul>
                    <li>
                        <a th:href="@{/cart}">
                            <i class="fa fa-shopping-cart"></i>
                            Giỏ hàng
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/checkout}">
                            <i class="fa fa-credit-card"></i>
                            Thanh toán
                        </a>
                    </li>
                    <li>
                        <div class="dropdown" th:switch="${login}">
                            <a th:case="true" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user"></i>
                                <span>
                                    Thông tin
                                </span>
                            </a>
                            <a th:case="false" th:href="@{/login}">
                                <i class="fa fa-user"></i>
                                <span>
                                    Đăng nhập
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a th:href="@{/profile}">
                                        Cá nhân
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/history}">
                                        Lịch sử
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a th:href="@{/logout}">
                                        Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>