<div th:fragment="side-bar" class="col-md-3">
    <div class="single-sidebar">
        <h2 class="sidebar-title">
            Tra cứu
        </h2>
        <form th:action="@{/search}" method="get">
            <input type="text" placeholder="Nhập vào tên sản phẩm..." name="ten" required>
            <input class="btn-search" type="submit" value="Tìm kiếm">
        </form>
    </div>
    <div class="single-sidebar one-line">
        <h2 class="sidebar-title">
            Sản phẩm
        </h2>
        <div th:each="product : ${topDiscounts}" class="thubmnail-recent">
            <img th:src="@{${'/img/' + product.album + '/1.jpg'}}" class="recent-thumb" alt="">
            <h2>
                <a th:text="${product.ten}" th:href="@{/detail/find(id=${product.id})}">
                    Name
                </a>
            </h2>
            <div class="product-sidebar-price">
                <ins th:text="${#numbers.formatDecimal(product.giaGoc-product.khuyenMai, 0, 'COMMA', 0, 'POINT')+' ₫'}">
                    Discount
                </ins>
                <br>
                <del th:text="${#numbers.formatDecimal(product.giaGoc, 0, 'COMMA', 0, 'POINT')+' ₫'}">
                    Price
                </del>
            </div>
        </div>
    </div>
    <div class="single-sidebar one-line">
        <h2 class="sidebar-title">
            Mới nhất
        </h2>
        <ul>
            <li th:each="product : ${topNews}">
                <a th:text="${product.ten}" th:href="@{/detail/find(id=${product.id})}">
                    Name
                </a>
            </li>
        </ul>
    </div>
</div>