<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Capstone Project">
    <meta name="author" content="Nohit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Giỏ Hàng | nohitElectronics
    </title>
    <!-- Icon -->
    <link th:href="@{/img/logo.png}" rel="apple-touch-icon">
    <link th:href="@{/img/logo.png}" rel="shortcut icon">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet'
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <!-- Toastify CSS -->
    <link href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div th:replace="/form::header"></div>
    <div th:replace="/form::branding"></div>
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">
                            Toggle navigation
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/index}">
                                Trang chủ
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/product}">
                                Sản phẩm
                            </a>
                        </li>
                        <li >
                            <a th:href="@{/category}">
                                Phân Loại
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/detail}">
                                Chi tiết
                            </a>
                        </li>
                        <li class="active">
                            <a th:href="@{/cart}">
                                Giỏ hàng
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/checkout}">
                                Thanh toán
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/about}">
                                Giới thiệu
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/contact}">
                                Liên hệ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>
                            Giỏ hàng
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">
                            Tra cứu
                        </h2>
                        <form action="#">
                            <input type="text" placeholder="Nhập vào tên sản phẩm..." required>
                            <input class="btn-search" type="submit" value="Tìm kiếm">
                        </form>
                    </div>
                    <div class="single-sidebar two-line">
                        <h2 class="sidebar-title">
                            Sản phẩm
                        </h2>
                        <div th:each="element: ${some_products}" class="thubmnail-recent">
                            <img th:src="@{${'/img/' + element.album + '/0.jpg'}}" class="recent-thumb" alt="">
                            <h2>
                                <a th:href="@{/detail}" th:text="${element.ten}">
                                    Máy tính xách tay MSI Vector GP76 12UGS
                                </a>
                            </h2>
                            <div class="product-sidebar-price">
                                <ins th:text="${element.khuyenMai}">
                                    54.200.000 ₫
                                </ins>
                                <del class="obsolete" th:text="${element.giaGoc}">
                                    57.990.000 ₫
                                </del>
                            </div>
                        </div>
                    </div>
                    <div class="single-sidebar one-line">
                        <h2 class="sidebar-title">
                            Mới nhất
                        </h2>
                        <ul>
                            <li th:each="element: ${some_newProducts}">
                                <a th:href="@{/detail}" th:text="${element.ten}">
                                    Máy tính xách tay ASUS ROG Zephyrus G15 GA503RW-LN100W
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <form method="get" th:action="@{cart/saveCart}">
                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">
                                                &nbsp;
                                            </th>
                                            <th class="product-thumbnail">
                                                &nbsp;
                                            </th>
                                            <th class="product-name">
                                                Sản phẩm
                                            </th>
                                            <th class="product-price">
                                                Giá
                                            </th>
                                            <th class="product-quantity">
                                                Số lượng
                                            </th>
                                            <th class="product-subtotal">
                                                Tổng tiền
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="element: ${listChiTietGioHang}" name="listChiTietGioHang" value="${listChiTietGioHang}" class="cart_item">
                                            <td class="product-remove">
                                                <!-- <a title="Remove this item" class="remove" th:href="@{/cart/delete(id=${element.sanPham.id})}"> -->
                                                    <a title="Remove this item" class="remove" th:href="@{/cart/delete/(id=${element.sanPham.id})}">
                                                    ×
                                                </a>
                                            </td>
                                            <td class="product-thumbnail">
                                                <a th:href="@{/detail}">
                                                    <img width="145" height="145" alt="poster_1_up"
                                                        class="shop_thumbnail" th:src="@{${'/img/' + element.sanPham.album + '/0.jpg'}}">
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a th:href="@{/detail}" id="tenSanPham" th:text="${element.sanPham.ten}">
                                                    Máy tính xách tay ASUS ROG Zephyrus G15 GA503RW-LN100W
                                                </a>
                                            </td>
                                            <td  class="product-price">
                                                <span  class="amount" id="giaMotSanPham" th:text="${element.giaBanSanPham}">
                                                    64.990.000 ₫
                                                </span>
                                            </td>
                                            <td class="product-quantity">
                                                <div class="quantity buttons_added">
                                                    <input type="button" id="minusSanPham" class="minus" value="-">
                                                    <input type="number" id="soluongSanPham" size="4" class="input-text qty text" value="2"
                                                    th:value="${element.soLuongSanPhan}"
                                                        min="1" step="1">
                                                    <input type="button" class="plus" id="plusSanPham" value="+">
                                                </div>
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount" id="giaNSanPham" th:text="${element.tongTienSanPham}">
                                                    64.990.000 ₫
                                                </span>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="actions" colspan="6">
                                                <div class="voucher">
                                                    <div class="coupon">
                                                        <label for="coupon_code">
                                                            Phiếu mua hàng:
                                                        </label>
                                                        <input type="text" placeholder="Mã khuyến mãi" th:value="'cpNohit' + '-GH' + ${gioHang.id} + '/' + ${gioHang.giamGia}"
                                                            id="coupon_code" class="input-text coupon-code"
                                                             required>
                                                        <input type="submit" value="Áp dụng" id="apply_coupon"
                                                            class="button">
                                                    </div>
                                                    <div class="voucher-sp">
                                                        <input type="submit" th:href="@{/cart/saveCart}" value="Cập nhật" id="updateButton" 
                                                            class="button">
                                                        <input type="submit" value="Thanh toán" name="proceed" th:href="@{/checkout}"
                                                            class="checkout-button button alt wc-forward">
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                            <div class="cart-collaterals">
                                <div class="cross-sells">
                                    <h2>
                                        Gợi ý
                                    </h2>
                                    <ul class="products">
                                        <li  th:each="element: ${some_topsaleProducts}" class="product">
                                            <a th:href="@{/detail}">
                                                <img width="325" height="325" alt="T_4_front"
                                                    class="attachment-shop_catalog wp-post-image"
                                                    th:src="@{${'/img/' + element.album + '/0.jpg'}}">
                                                <h3 th:text="${element.ten}">
                                                    Điện thoại ASUS ROG Phone 5S ZS676KS-1A111WW
                                                </h3>
                                                <span th:text="${element.khuyenMai}" class="price">
                                                    <span class="amount">
                                                        16.290.000 ₫
                                                    </span>
                                                </span>
                                            </a>
                                            <a class="add_to_cart_button" data-quantity="1" data-product_sku=""
                                                data-product_id="22" rel="nofollow" th:href="@{/detail}">
                                                Chi tiết
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="cart_totals">
                                    <h2>
                                        Đơn hàng
                                    </h2>
                                    <table cellspacing="0">
                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>
                                                    Tổng tiền hàng
                                                </th>
                                                <td>
                                                    <span class="amount" id="tongTienHangBill" name="tongTienHang" th:text="${gioHang.tongGioHang}">
                                                        64.990.000 ₫
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class="shipping">
                                                <th>
                                                    Phí vận chuyển
                                                </th>
                                                <td>
                                                    Miễn phí
                                                </td>
                                            </tr>
                                            <tr class="shipping">
                                                <th>
                                                    Giảm giá khách hàng
                                                </th>
                                                <td>
                                                    <strong>
                                                        <span class="amount" id="tienGiamGiaBill" th:text="${gioHang.giamGia}">
                                                            0
                                                        </span>
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>
                                                    Tổng thanh toán
                                                </th>
                                                <td>
                                                    <strong>
                                                        <span class="amount" id="tongTienThanhToanBill" th:text="${gioHang.tongGioHang}">
                                                            64.990.000 ₫
                                                        </span>
                                                    </strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <form method="post" action="#" class="shipping_calculator">
                                    <h2>
                                        <a class="shipping-calculator-button" data-toggle="collapse"
                                            href="#calcalute-shipping-wrap" aria-expanded="false"
                                            aria-controls="calcalute-shipping-wrap">
                                            Vận chuyển
                                        </a>
                                    </h2>
                                    <section id="calcalute-shipping-wrap" class="shipping-calculator-form collapse">
                                        <p class="form-row form-row-wide">
                                            <select rel="calc_shipping_state" class="country_to_state"
                                                id="calc_shipping_country" name="calc_shipping_country">
                                                <option value="AG">
                                                    An Giang
                                                </option>
                                                <option value="BL">
                                                    Bạc Liêu
                                                </option>
                                                <option value="BG">
                                                    Bắc Giang
                                                </option>
                                                <option value="BK">
                                                    Bắc Kạn
                                                </option>
                                                <option value="BN">
                                                    Bắc Ninh
                                                </option>
                                                <option value="BE">
                                                    Bến Tre
                                                </option>
                                                <option value="BD">
                                                    Bình Dương
                                                </option>
                                                <option value="BH">
                                                    Bình Định
                                                </option>
                                                <option value="BP">
                                                    Bình Phước
                                                </option>
                                                <option value="BT">
                                                    Bình Thuận
                                                </option>
                                                <option value="CM">
                                                    Cà Mau
                                                </option>
                                                <option value="CB">
                                                    Cao Bằng
                                                </option>
                                                <option value="CT">
                                                    Cần Thơ
                                                </option>
                                                <option value="DN">
                                                    Đà Nẵng
                                                </option>
                                                <option value="DL">
                                                    Đắk Lắk
                                                </option>
                                                <option value="DG">
                                                    Đắk Nông
                                                </option>
                                                <option value="DB">
                                                    Điện Biên
                                                </option>
                                                <option value="DI">
                                                    Đồng Nai
                                                </option>
                                                <option value="DT">
                                                    Đồng Tháp
                                                </option>
                                                <option value="GL">
                                                    Gia Lai
                                                </option>
                                                <option value="HG">
                                                    Hà Giang
                                                </option>
                                                <option value="HN">
                                                    Hà Nam
                                                </option>
                                                <option value="HI">
                                                    Hà Nội
                                                </option>
                                                <option value="HT">
                                                    Hà Tĩnh
                                                </option>
                                                <option value="HD">
                                                    Hải Dương
                                                </option>
                                                <option value="HP">
                                                    Hải Phòng
                                                </option>
                                                <option value="UG">
                                                    Hậu Giang
                                                </option>
                                                <option value="HB">
                                                    Hòa Bình
                                                </option>
                                                <option value="SG" selected>
                                                    Hồ Chí Minh
                                                </option>
                                                <option value="HY">
                                                    Hưng Yên
                                                </option>
                                                <option value="KH">
                                                    Khánh Hòa
                                                </option>
                                                <option value="KG">
                                                    Kiên Giang
                                                </option>
                                                <option value="KT">
                                                    Kon Tum
                                                </option>
                                                <option value="LC">
                                                    Lai Châu
                                                </option>
                                                <option value="LS">
                                                    Lạng Sơn
                                                </option>
                                                <option value="LI">
                                                    Lào Cai
                                                </option>
                                                <option value="LD">
                                                    Lâm Đồng
                                                </option>
                                                <option value="LA">
                                                    Long An
                                                </option>
                                                <option value="ND">
                                                    Nam Định
                                                </option>
                                                <option value="NA">
                                                    Nghệ An
                                                </option>
                                                <option value="NB">
                                                    Ninh Bình
                                                </option>
                                                <option value="NT">
                                                    Ninh Thuận
                                                </option>
                                                <option value="PT">
                                                    Phú Thọ
                                                </option>
                                                <option value="PY">
                                                    Phú Yên
                                                </option>
                                                <option value="QB">
                                                    Quảng Bình
                                                </option>
                                                <option value="QN">
                                                    Quảng Nam
                                                </option>
                                                <option value="QI">
                                                    Quảng Ngãi
                                                </option>
                                                <option value="QH">
                                                    Quảng Ninh
                                                </option>
                                                <option value="QT">
                                                    Quảng Trị
                                                </option>
                                                <option value="ST">
                                                    Sóc Trăng
                                                </option>
                                                <option value="SL">
                                                    Sơn La
                                                </option>
                                                <option value="TN">
                                                    Tây Ninh
                                                </option>
                                                <option value="TB">
                                                    Thái Bình
                                                </option>
                                                <option value="IN">
                                                    Thái Nguyên
                                                </option>
                                                <option value="TH">
                                                    Thanh Hóa
                                                </option>
                                                <option value="TT">
                                                    Thừa Thiên Huế
                                                </option>
                                                <option value="TG">
                                                    Tiền Giang
                                                </option>
                                                <option value="TV">
                                                    Trà Vinh
                                                </option>
                                                <option value="TQ">
                                                    Tuyên Quang
                                                </option>
                                                <option value="VL">
                                                    Vĩnh Long
                                                </option>
                                                <option value="VP">
                                                    Vĩnh Phúc
                                                </option>
                                                <option value="VT">
                                                    Vũng Tàu
                                                </option>
                                                <option value="YB">
                                                    Yên Bái
                                                </option>
                                            </select>
                                        </p>
                                        <p class="form-row form-row-wide">
                                            <input type="text" id="calc_shipping_postcode" name="calc_shipping_postcode"
                                                placeholder="Nhập Quận / Huyện" value="" class="input-text">
                                        </p>
                                        <p>
                                            <button class="button btn-ship pull-right" value="1" name="calc_shipping"
                                                type="submit">
                                                Lưu Giỏ Hàng
                                            </button>
                                        </p>
                                    </section>
                                </form> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End product widget area -->
    <div th:replace="/form::footer-top"></div>
    <div th:replace="/form::footer-bot"></div>
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- jQuery sticky menu -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <!-- jQuery easing -->
    <script src="js/jquery.easing.1.3.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Main Script -->
    <script src="js/cart.js"></script>
    <!-- Toastify JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js" type="text/javascript"></script>
    <script th:inline="javascript">
        var flag = /*[[${flag}]]*/ false;
        var msg = /*[[${msg}]]*/ null;
        if (flag) {
            Toastify({ text: msg, position: "center" }).showToast();
        }
    </script>
</body>

</html>