<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Capstone Project">
    <meta name="author" content="Nohit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Phân Loại | nohitElectronics
    </title>
    <!-- Icon -->
    <link th:href="@{/img/logo.png}" rel="apple-touch-icon">
    <link th:href="@{/img/logo.png}" rel="shortcut icon">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <!-- Toastify CSS -->
    <link href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="header" class="header-area">
        <div class="container">
            <div class="row">
                <div class="user-menu">
                    <ul>
                        <li>
                            <a th:href="@{/cart}">
                                <i class="fa fa-shopping-cart"></i>
                                Giỏ hàng
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/checkout}">
                                <i class="fa fa-credit-card"></i>
                                Thanh toán
                            </a>
                        </li>
                        <li>
                            <div class="dropdown" th:switch="${login}">
                                <a th:case="true" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-user"></i>
                                    <span>
                                        Thông tin
                                    </span>
                                </a>
                                <a th:case="false" th:href="@{/login}">
                                    <i class="fa fa-user"></i>
                                    <span>
                                        Đăng nhập
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a th:href="@{/profile}">
                                            Cá nhân
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/history}">
                                            Lịch sử
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a th:href="@{/logout}">
                                            Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1>
                            <a th:href="@{/index}">
                                nohit
                                <span>
                                    Electronics
                                </span>
                            </a>
                        </h1>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="shopping-item">
                        <a th:href="@{/cart}">
                            Giỏ -
                            <span th:text="${#numbers.formatDecimal(cart.tongGioHang, 0, 'COMMA', 0, 'POINT')+' ₫'}"
                                class="cart-amunt">
                                64.990.000 ₫
                            </span>
                            <i class="fa fa-shopping-cart"></i>
                            <span th:text="${cart.tongSoLuong}" class="product-count">
                                1
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">
                            Toggle navigation
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/index}">
                                Trang chủ
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/product}">
                                Sản phẩm
                            </a>
                        </li>
                        <li class="active">
                            <a th:href="@{/category}">
                                Phân Loại
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/detail}">
                                Chi tiết
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/cart}">
                                Giỏ hàng
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/checkout}">
                                Thanh toán
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/about}">
                                Giới thiệu
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/contact}">
                                Liên hệ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>
                            Phân Loại
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h2 class="sidebar-title">
                                Phân loại
                            </h2>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/category/filter}" method="get" class="form">
                                <div class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="filter" th:checked="${radioCheck==0}" value="all">
                                            Tất cả
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="filter" th:checked="${radioCheck==1}"
                                                value="Máy tính xách tay">
                                            Máy tính xách tay
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="filter" th:checked="${radioCheck==2}"
                                                value="Máy tính để bàn"> Máy tính để bàn
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="filter" th:checked="${radioCheck==3}"
                                                value="Máy tính bảng"> Máy tính bảng
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="filter" th:checked="${radioCheck==4}"
                                                value="Điện thoại di động"> Điện thoại di động
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="filter" th:checked="${radioCheck==5}"
                                                value="Thiết bị ngoại vi"> Thiết bị ngoại vi
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">
                                    Filter
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 tab-content">
                    <div class="row">
                        <div th:each="element: ${products}" class="col-md-3 col-sm-6">
                            <div class="single-shop-product">
                                <div class="product-upper">
                                    <img th:src="@{${'/img/' + element.album + '/0.jpg'}}" alt="">
                                </div>
                                <h2>
                                    <a th:text="${element.ten}" th:href="@{/detail/view(id=${element.id})}">
                                        Bàn phím cơ Logitech Gaming G813
                                    </a>
                                </h2>
                                <div class="product-carousel-price">
                                    <ins
                                        th:text="${#numbers.formatDecimal(element.giaGoc-element.khuyenMai, 0, 'COMMA', 0, 'POINT')+' ₫'}">
                                        3.289.000 ₫
                                    </ins>
                                    <del
                                        th:text="${#numbers.formatDecimal(element.giaGoc, 0, 'COMMA', 0, 'POINT')+' ₫'}">
                                        4.699.000 ₫
                                    </del>
                                </div>
                                <div class="product-option-shop">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku=""
                                        data-product_id="70" rel="nofollow"
                                        th:href="@{/cart/add(id=${element.id},soLuongSanPham=1)}">
                                        Thêm vào giỏ
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-pagination text-center">
                                <nav>
                                    <ul class="pagination">
                                        <li>
                                            <a th:href="@{'/category'+${previous}}" aria-label="Previous">
                                                <span aria-hidden="true">
                                                    &laquo;
                                                </span>
                                            </a>
                                        </li>
                                        <li th:each="i : ${#numbers.sequence(1,maxSize,1)}">
                                            <a th:text="${i}" th:href="@{'/category'+${view}+${i}}">
                                                1
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="@{'/category'+${next}}" aria-label="Next">
                                                <span aria-hidden="true">
                                                    &raquo;
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2>
                            nohit
                            <span>
                                Electronics
                            </span>
                        </h2>
                        <p>
                            Công ty TNHH nohitElectronics được thành lập vào năm 2022, chuyên kinh doanh, phân phối Sỉ &
                            Lẻ ngành hàng máy tính, dịch vụ công nghệ thông tin, dịch vụ tư vấn giải pháp công nghệ tối
                            ưu và các dịch vụ khác liên quan đến máy tính trên toàn quốc.
                        </p>
                        <div class="footer-social">
                            <a href="https://www.facebook.com" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="https://twitter.com" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="https://www.youtube.com" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                            <a href="https://www.linkedin.com" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">
                            Điều hướng
                        </h2>
                        <ul>
                            <li>
                                <a th:href="@{/profile}">
                                    Tài khoản cá nhân
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/history}">
                                    Lịch sử đặt hàng
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/about}">
                                    Giới thiệu về trang
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/contact}">
                                    Liên hệ nhà cung cấp
                                </a>
                            </li>
                            <li>
                                <a href="#header">
                                    Về đầu trang
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">
                            Phân loại
                        </h2>
                        <ul>
                            <li>
                                <a th:href="@{/category/filter(filter='Máy tính xách tay')}">
                                    Máy tính xách tay
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/category/filter(filter='Máy tính để bàn')}">
                                    Máy tính để bàn
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/category/filter(filter='Máy tính bảng')}">
                                    Máy tính bảng
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/category/filter(filter='Điện thoại di động')}">
                                    Điện thoại di động
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/category/filter(filter='Thiết bị ngoại vi')}">
                                    Thiết bị ngoại vi
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">
                            Bảng tin
                        </h2>
                        <p>
                            Đăng ký nhận bản tin của chúng tôi và nhận các ưu đãi độc quyền mà bạn sẽ không tìm thấy ở
                            bất kỳ nơi nào khác ngay trong hộp thư đến của bạn!
                        </p>
                        <div class="newsletter-form">
                            <form th:action="@{/contact/subcribe}" method="post">
                                <input type="email" placeholder="Nhập thư điện tử" name="email" required>
                                <input type="submit" value="Đăng ký" class="btn-sub pull-right">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>
                            &copy; 2022 nohitElectronics. All Rights Reserved. Coded by
                            <a href="https://cybersoft.edu.vn" target="_blank">
                                nohit Cybersoft
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <!-- Bootstrap JS form CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- jQuery sticky menu -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <!-- jQuery easing -->
    <script src="js/jquery.easing.1.3.min.js"></script>
    <!-- Main Script -->
    <script src="js/main.js"></script>
    <!-- Toastify JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js" type="text/javascript"></script>
    <script th:inline="javascript">
        var flag = /*[[${flag}]]*/ false;
        var msg = /*[[${msg}]]*/ null;
        if (flag) {
            Toastify({ text: msg, position: "center" }).showToast();
        }
    </script>
</body>

</html>