<div id="header" class="header-area" th:fragment="header">
    <div class="container">
        <div class="row">
            <div class="user-menu">
                <ul>
                    <li>
                        <a th:href="@{/cart}">
                            <i class="fa fa-shopping-cart"></i>
                            Giỏ hàng
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/checkout}">
                            <i class="fa fa-credit-card"></i>
                            Thanh toán
                        </a>
                    </li>
                    <li>
                        <div class="dropdown" th:switch="${login}">
                            <a th:case="true" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user"></i>
                                <span>
                                    Thông tin
                                </span>
                            </a>
                            <a th:case="false" th:href="@{/login}">
                                <i class="fa fa-user"></i>
                                <span>
                                    Đăng nhập
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a th:href="@{/profile}">
                                        Cá nhân
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/history}">
                                        Lịch sử
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a th:href="@{/logout}">
                                        Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="site-branding-area" th:fragment="branding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1>
                        <a th:href="@{/index}">
                            nohit
                            <span>
                                Electronics
                            </span>
                        </a>
                    </h1>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="shopping-item">
                    <a th:href="@{/cart}">
                        Giỏ -
                        <span th:text="${#numbers.formatDecimal(cart.tongGioHang, 0, 'COMMA', 0, 'POINT')+' ₫'}"
                            class="cart-amunt">
                            64.990.000 ₫
                        </span>
                        <i class="fa fa-shopping-cart"></i>
                        <span th:text="${cart.tongSoLuong}" class="product-count">
                            1
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainmenu-area" th:fragment="menu">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">
                        Toggle navigation
                    </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div th:switch="${choosenOne}" class="navbar-collapse collapse">
                <ul th:case="'Trang chủ'" class="nav navbar-nav">
                    <li class="active">
                        <a th:href="@{/index}">
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/product}">
                            Sản phẩm
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/category}">
                            Phân Loại
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/detail}">
                            Chi tiết
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cart}">
                            Giỏ hàng
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/checkout}">
                            Thanh toán
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about}">
                            Giới thiệu
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/contact}">
                            Liên hệ
                        </a>
                    </li>
                </ul>
                <ul th:case="'Sản phẩm'" class="nav navbar-nav">
                    <li>
                        <a th:href="@{/index}">
                            Trang chủ
                        </a>
                    </li>
                    <li class="active">
                        <a th:href="@{/product}">
                            Sản phẩm
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/category}">
                            Phân Loại
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/detail}">
                            Chi tiết
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cart}">
                            Giỏ hàng
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/checkout}">
                            Thanh toán
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about}">
                            Giới thiệu
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/contact}">
                            Liên hệ
                        </a>
                    </li>
                </ul>
                <ul th:case="'Phân loại'" class="nav navbar-nav">
                    <li>
                        <a th:href="@{/index}">
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/product}">
                            Sản phẩm
                        </a>
                    </li>
                    <li class="active">
                        <a th:href="@{/category}">
                            Phân Loại
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/detail}">
                            Chi tiết
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cart}">
                            Giỏ hàng
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/checkout}">
                            Thanh toán
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about}">
                            Giới thiệu
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/contact}">
                            Liên hệ
                        </a>
                    </li>
                </ul>
                <ul th:case="'Chi tiết'" class="nav navbar-nav">
                    <li>
                        <a th:href="@{/index}">
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/product}">
                            Sản phẩm
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/category}">
                            Phân Loại
                        </a>
                    </li>
                    <li class="active">
                        <a th:href="@{/detail}">
                            Chi tiết
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cart}">
                            Giỏ hàng
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/checkout}">
                            Thanh toán
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about}">
                            Giới thiệu
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/contact}">
                            Liên hệ
                        </a>
                    </li>
                </ul>
                <ul th:case="'Giỏ hàng'" class="nav navbar-nav">
                    <li>
                        <a th:href="@{/index}">
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/product}">
                            Sản phẩm
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/category}">
                            Phân Loại
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/detail}">
                            Chi tiết
                        </a>
                    </li>
                    <li class="active">
                        <a th:href="@{/cart}">
                            Giỏ hàng
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/checkout}">
                            Thanh toán
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about}">
                            Giới thiệu
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/contact}">
                            Liên hệ
                        </a>
                    </li>
                </ul>
                <ul th:case="'Thanh toán'" class="nav navbar-nav">
                    <li>
                        <a th:href="@{/index}">
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/product}">
                            Sản phẩm
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/category}">
                            Phân Loại
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/detail}">
                            Chi tiết
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cart}">
                            Giỏ hàng
                        </a>
                    </li>
                    <li class="active">
                        <a th:href="@{/checkout}">
                            Thanh toán
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about}">
                            Giới thiệu
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/contact}">
                            Liên hệ
                        </a>
                    </li>
                </ul>
                <ul th:case="'Giới thiệu'" class="nav navbar-nav">
                    <li>
                        <a th:href="@{/index}">
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/product}">
                            Sản phẩm
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/category}">
                            Phân Loại
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/detail}">
                            Chi tiết
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cart}">
                            Giỏ hàng
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/checkout}">
                            Thanh toán
                        </a>
                    </li>
                    <li class="active">
                        <a th:href="@{/about}">
                            Giới thiệu
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/contact}">
                            Liên hệ
                        </a>
                    </li>
                </ul>
                <ul th:case="'Liên hệ'" class="nav navbar-nav">
                    <li>
                        <a th:href="@{/index}">
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/product}">
                            Sản phẩm
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/category}">
                            Phân Loại
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/detail}">
                            Chi tiết
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cart}">
                            Giỏ hàng
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/checkout}">
                            Thanh toán
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about}">
                            Giới thiệu
                        </a>
                    </li>
                    <li class="active">
                        <a th:href="@{/contact}">
                            Liên hệ
                        </a>
                    </li>
                </ul>
                <ul th:case="*" class="nav navbar-nav">
                    <li>
                        <a th:href="@{/index}">
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/product}">
                            Sản phẩm
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/category}">
                            Phân Loại
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/detail}">
                            Chi tiết
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cart}">
                            Giỏ hàng
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/checkout}">
                            Thanh toán
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about}">
                            Giới thiệu
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/contact}">
                            Liên hệ
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="product-big-title-area" th:fragment="title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2 th:text="${choosenOne}">
                        Giới thiệu
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-top-area" th:fragment="footer-top">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>
                        nohit
                        <span>
                            Electronics
                        </span>
                    </h2>
                    <p>
                        Công ty TNHH nohitElectronics được thành lập vào năm 2022, chuyên kinh doanh, phân phối Sỉ &
                        Lẻ ngành hàng máy tính, dịch vụ công nghệ thông tin, dịch vụ tư vấn giải pháp công nghệ tối
                        ưu và các dịch vụ khác liên quan đến máy tính trên toàn quốc.
                    </p>
                    <div class="footer-social">
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.youtube.com" target="_blank">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <a href="https://www.linkedin.com" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">
                        Điều hướng
                    </h2>
                    <ul>
                        <li>
                            <a th:href="@{/profile}">
                                Tài khoản cá nhân
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/history}">
                                Lịch sử đặt hàng
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/about}">
                                Giới thiệu về trang
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/contact}">
                                Liên hệ nhà cung cấp
                            </a>
                        </li>
                        <li>
                            <a href="#header">
                                Về đầu trang
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">
                        Phân loại
                    </h2>
                    <ul>
                        <li>
                            <a th:href="@{/category/filter(filter='Máy tính xách tay')}">
                                Máy tính xách tay
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/category/filter(filter='Máy tính để bàn')}">
                                Máy tính để bàn
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/category/filter(filter='Máy tính bảng')}">
                                Máy tính bảng
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/category/filter(filter='Điện thoại di động')}">
                                Điện thoại di động
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/category/filter(filter='Thiết bị ngoại vi')}">
                                Thiết bị ngoại vi
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">
                        Bảng tin
                    </h2>
                    <p>
                        Đăng ký nhận bản tin của chúng tôi và nhận các ưu đãi độc quyền mà bạn sẽ không tìm thấy ở
                        bất kỳ nơi nào khác ngay trong hộp thư đến của bạn!
                    </p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Nhập thư điện tử" required>
                            <input type="submit" value="Đăng ký" class="btn-sub pull-right">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom-area" th:fragment="footer-bot">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>
                        &copy; 2022 nohitElectronics. All Rights Reserved. Coded by
                        <a href="https://cybersoft.edu.vn" target="_blank">
                            nohit Cybersoft
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-card-icon">
                    <i class="fa fa-cc-discover"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-paypal"></i>
                    <i class="fa fa-cc-visa"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3" th:fragment="extend-bar">
    <div class="single-sidebar">
        <h2 class="sidebar-title">
            Tra cứu
        </h2>
        <form action="#">
            <input type="text" placeholder="Nhập vào tên sản phẩm..." required>
            <input class="btn-search" type="submit" value="Tìm kiếm">
        </form>
    </div>
    <div class="single-sidebar one-line">
        <h2 class="sidebar-title">
            Sản phẩm
        </h2>
        <div th:each="element: ${topPriceProducts}" class="thubmnail-recent">
            <img th:src="@{${'/img/' + element.album + '/1.jpg'}}" class="recent-thumb" alt="">
            <h2>
                <a th:text="${element.ten}" th:href="@{/detail/view(id=${element.id})}">
                    Máy tính xách tay MSI Vector GP76 12UGS
                </a>
            </h2>
            <div class="product-sidebar-price">
                <ins th:text="${#numbers.formatDecimal(element.giaGoc-element.khuyenMai, 0, 'COMMA', 0, 'POINT')+' ₫'}">
                    64.990.000 ₫
                </ins>
                <br>
                <del th:text="${#numbers.formatDecimal(element.giaGoc, 0, 'COMMA', 0, 'POINT')+' ₫'}">
                    65.990.000 ₫
                </del>
            </div>
        </div>
    </div>
    <div class="single-sidebar one-line">
        <h2 class="sidebar-title">
            Mới nhất
        </h2>
        <ul>
            <li th:each="element: ${topNewProducts}">
                <a th:text="${element.ten}" th:href="@{/detail/view(id=${element.id})}">
                    Máy tính xách tay ASUS ROG Zephyrus G15 GA503RW-LN100W
                </a>
            </li>
        </ul>
    </div>
</div>